<Files>
Options -Indexes 
IndexIgnore *
# Apache < 2.3
<IfModule !mod_authz_core.c>
  Order Allow,Deny
  Deny from all
</IfModule>
# Apache > 2.3
<IfModule mod_authz_core.c>
  Require all denied
</IfModule>
</Files>
