!/includes/libraries/csrfp/log
*.DS_Store
*.log
*.zip
.idea
*.sh
*.sh.save
nbproject
nbproject/private
node_modules
.sass-cache
bower_components
ad.js
TODO
test.html
/includes/avatars
/includes/config/tp.config.php
/includes/config/settings.php
includes/libraries/csrfp/libs/csrfp.config.php
/includes/config/tp.config.php.*
/includes/config/settings.php.*
/includes/libraries/csrfp/libs/csrfp.config.php.*
gcommit.sh
gdev.sh
gpush.sh
/.vscode/*
/_tools/*
phpinsights.php
EncryptedFile_*
/files/*
!/files/.htaccess
!/files/empty_file.txt
/upload/*
!/upload/.htaccess
!/upload/empty_file.txt
/~/*
gitdo.sh
version-commit.php
tp_minor_release.txt
/includes/config/tp.config*