<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Api">
            <directory>tests/Unit/Api</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">includes/libraries/teampassclasses</directory>
            <directory suffix=".php">includes/libraries/bip39</directory>
            <directory suffix=".php">websocket/src</directory>
            <directory suffix=".php">app/api</directory>
        </include>
    </source>

    <php>
        <ini name="pcov.enabled" value="1"/>
    </php>

</phpunit>
