[project]
	description = Collaborative Passwords Manager
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nils Laumaillé (nilsteampassnet)
[access "refs/for/refs/*"]
	read = group user/Nils Laumaillé (nilsteampassnet)
	push = group user/Nils Laumaillé (nilsteampassnet)
	label-Code-Review = -2..+2 group user/Nils Laumaillé (nilsteampassnet)
	label-Verified = -1..+1 group user/Nils Laumaillé (nilsteampassnet)
	rebase = group user/Nils Laumaillé (nilsteampassnet)
	removeReviewer = group user/Nils Laumaillé (nilsteampassnet)
	submit = group user/Nils Laumaillé (nilsteampassnet)
[access "refs/heads/*"]
	read = group user/Nils Laumaillé (nilsteampassnet)
	create = group user/Nils Laumaillé (nilsteampassnet)
	push = +force group user/Nils Laumaillé (nilsteampassnet)
	pushMerge = group user/Nils Laumaillé (nilsteampassnet)
[access "refs/tags/*"]
	push = +force group user/Nils Laumaillé (nilsteampassnet)
	pushTag = group user/Nils Laumaillé (nilsteampassnet)
	pushSignedTag = group user/Nils Laumaillé (nilsteampassnet)
