<Files "downloadFile.php">
# Apache < 2.3
<IfModule !mod_authz_core.c>
  Order Allow,Deny
  Allow from all
</IfModule>
# Apache > 2.3
<IfModule mod_authz_core.c>
  Require all granted
</IfModule>
</Files>
