html, body {
    height: 100%; /* Permet à body de prendre toute la hauteur de l'écran */
    margin: 0;    /* Supprime les marges par défaut */
}

body{
    background-image: url(../../includes/images/install_background.jpg); /* Chemin de l'image */
    background-size: cover;      /* L'image couvre tout l'écran */
    background-position: center; /* L'image est centrée */
    background-repeat: no-repeat; /* Pas de répétition de l'image */
    font-family: sans-serif;     /* Police par défaut */
}

.custom-block {
	max-width: 1000px;
	background-color: white;
	border: 1px solid #ddd; /* Optionnel : une bordure grise subtile */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optionnel : un peu d'ombre */
	border-radius: 8px; /* Optionnel : coins arrondis */
    margin: 0 auto; 
}

.header-title{
	font-size: 42px;
	letter-spacing: 10px;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}