body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../includes/images/install_background.jpg);
	-webkit-background-size: cover;
	background-size: cover;
    font-family: sans-serif;
}

#top{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-family: sans-serif;
	display:block;
	color: #404d63;
}

.lcol {
	vertical-align:middle;
	display:inline-block;
	margin-bottom: 15px;
}

.header-title{
	font-size: 42px;
	letter-spacing: 10px;
	color: #84AAB7;
}

.header-title-small{
	font-size: 16px;
	letter-spacing: 2px;
}

#title {
  font: bold 270%/100% "Lucida Grande";
  color: #464646;
  float:left;
  margin-top:3px;
}

#main {
	width: 1000px;
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	color:#464646;
	height:90%;
	overflow:hidden;
	padding:10px;
	display:block;
	height:100%;
}

#menu {
	float:  left;
	width:  25%;
	margin-left:-20px;
	height:100%;
}

#menu li {
	margin-top:5px;
}

.li_inprogress {
	font-weight:    bold;
	color:          #5283BB;
}

.li_done {
	font-weight:    normal;
	color:          #464646;
}

#content {
	/*float:left;
	width:  75%;
	height:100%;*/
}

#step_name {
	font-weight:    bold;
	text-align:     center;
	font-size:      15px;
}

#step_content {
	margin-top: 10px;
}

#action_buttons {
	width: 1000px;
	padding:    10px;
	margin:0 auto 0 auto;
	background-color:white;
	color:#464646;
	height:     30px;
	text-align: right;
}
h5 {
	margin-bottom: 10px;
}

.label_block {
	display: inline-block;
	width:  200px;
	margin-bottom: 2px;
}

.label_block_big {
	display: inline-block;
	width:  270px;
	margin-bottom: 2px;
}

.hidden {
  display: none;
}

.center-screen {
	position:absolute;
	top:50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}