
		#stripe{
		position:absolute;
		top:93px;
		left:0px;
		width:100%;
		height:96px;
		background-color:#73bb35;
		z-index:-1;
		}
		
		#logoArea{
		float:left;
		width:100%;
		height:83px;
		margin-top:2px;
		}
		
		#yubicoLogo{
		
		font-size:32px;
		color:#73bb35;
		font-weight:bold;
		
		}
		
		#tagline{
		color:#73bb35;
		font-size:10px;
		margin-left:55px;
		float:left;
		clear:right;
		
		}
		
		
		#container{
		width:750px;
		margin:0 auto;
		text-align:left;
		
		}
		
		body{
		text-align:center;
		font-family: Verdana, sans-serif;
		font-size:12px;
		}
		
		#greenBarContent{
		width:100%;
		float:left;
		}
		#greenBarImage{
		float:left;
		}
		
		#greenBarText{
		float:left;
		clear:right;
		}
				
		#greenBarText h3{
		margin:32px 0 0 15px;
		float:left;
		color:#fff;
		font-size:20px;
		}
		
		#bottomContent{
		border:solid 7px #73bb35;
		padding:9px;
		float:left;
		width:100%;
		margin-top:20px;
		}
		
		#bottomContent a{
		color:#73bb35;
		font-size:12px;
		}
		.med{
		font-size: 12px;
		}


		#bottomContent h4{
		font-size: 13px;
		}
		
		
		input{
		width:200px;
		}

		
		input.authtype{
		width:auto;
		}

				
		
		.tdRt{
		margin-right:10px;
		}
		
		.green {color:#89bb00;
		font-weight:bold;
		}
		
		#bottomContent ol {
		margin: 0;
 		padding: 20px;
 		padding-top: 0px;
		}
		
		#bottomContent table, tr, td, th {
		text-align: left;
		font-family: Verdana, Arial, Tahoma;
		font-size: 11px;
		}
		
		#bottomContent h1 {
  		font-family: Verdana, Arial, Tahoma;
  		font-size: 12px;
  		font-weight: bold;
  		padding: 0px;
  		margin: 0px;
  		margin-bottom: 8px;
		}

		#bottomContent h1.fail {
  		color: #d90000;
		}

		#bottomContent h1.ok {
  		color: #009418;
		}

		#smallWhite{
		font-size:11px;
		color:#fff;
		margin:0 0 5px 0;
		}
		
		#smallWhite a{
		color:#fff;
		text-decoration:none;
		}
		
		.small{
		font-size:11px;
		}
		
		/* Yubico Mice header*/
		.yubiKeyInput{ 
		background: white url("./yubiright_16x16.gif") no-repeat 2px 2px; 
		padding-left: 20px; 
		height: 18px; 
		width: 180px; 
		}
		
