.label {
margin-bottom:10px;
width:30%;
padding: 4px;
}

.input {
margin-bottom:10px;
width:70%;
padding: 4px;
}

.input_select{
margin-bottom:10px;
padding: 4px;
}

.kb_text{
margin-bottom:10px;
width:300px;
padding: 4px;
}