body{
width: 1000px;
margin-left: auto;
margin-right: auto;
/*background: #F0F0F0 url(../images/stripe.png) repeat;*/
background: #000000 url(../images/canevas/background_cell.jpg) repeat;
font-family: sans-serif;
font-size:11pt;
}

#top{
width: 980px;
height: 35px;
margin-left: auto;
margin-right: auto;
padding: 10px;
/*background: #F0F0F0 url(../images/stripe_footer.png) repeat;*/
font-family: sans-serif;
font-size: 10px;
display:block;
background-image: url(../images/canevas/menu_top_bckg.png);
}

#logo{
float:left;
margin-right: 5px;
margin-top: -5px;
margin-left: -5px;
}

#menu_top{
float:left;
}

#footer{
width: 980px;
height: 20px;
line-height: 16px;
margin: 10px auto 0 auto;
padding: 10px;
background-image: url(../images/canevas/menu_top_bckg.png);
font-family: sans-serif;
font-size: 10px;
color: #F0F0F0;
}

#div_right_menu{
	position:absolute;
	margin:54px -32px 0 1000px;
	background-image: url(../images/canevas/menu_top_bckg.png);
	padding:5px;
}

#div_last_items{
    background-color: #FFF0A4;
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
}

#main{
padding: 10px;
margin-top: 10px;
min-height: 250px;
background:white url(../images/canevas/logo_home.png) 50% 50% no-repeat;
}

#main_simple{
margin-top: 10px;
}

#title {
  font: bold 270%/100% "Lucida Grande";
  color: #464646;
  float:left;
  margin-top:3px;
}

div#global {
position: relative;
}
div#header {
color: #fff;
}
div#center {
padding-bottom: 50px;
background-color:white;
display: block;
}
div#content {
float:left;
width:660px;
margin-left:10px;

}


thead th{
font-size: 13px;
font-weight: bold;
background: #344151;
padding: 4px 10px 4px 10px;
font-family: arial;
color: #FFFFFF;
}
tr.ligne0 td {
background-color:#FFFFFF;
border-bottom:1px solid #CCCCCC;
font-family: arial;
font-size:11px;
}
tr.ligne1 td {
background-color:#F0F0F0;
border-bottom:1px solid #CCCCCC;
font-family: arial;
font-size:11px;
}

#div_loading, .div_center {
  position:absolute;
  left: 50%;
  top: 40%;
}

a:link {text-decoration: none; color:#000000;}
a:visited {text-decoration: none; color:#000000;}
a:active {text-decoration: none; color:#000000;}
/*a:hover {text-decoration: underline; color:#000000;}*/
a img {border:  none ;}
a img {border:  none ;}

.input_text {
margin-bottom:10px;
width:95%;
padding: 4px;
}

.input_text_60 {
margin-bottom:10px;
width:60%;
padding: 4px;
}

.input_text_80 {
margin-bottom:10px;
width:80%;
padding: 4px;
}

.label_cpm{
display:block;
}

.form_label{
display:block;
width:180px;
float:left;
}

.form_label_100{
display:block;
width:100px;
float:left;
}

.td_title{
font-weight:bold;
// font-family: serif;
min-width: 150px;
}

ul{
list-style-type:none;
}

.button_menu { outline: 0; margin:0; padding: 1px; text-decoration:none; cursor:pointer; position: relative; text-align: center; }

.title {
  font: bold 160%/100% "Lucida Grande";
  color: #464646;
  margin: 3px 0px 10px 0px;
  padding: 10px;
}

.readme{
    font-family: sans-serif;
    font-size: 9px;
    line-height:15px;
    margin-top: 20px;
    height: 150px;
    width:600px;
    float:left;
}

.last_seen_item{
	cursor:pointer;
    font-family: sans-serif;
    font-size: 11px;
	margin-left: 8px;
}

.last_seen_item:hover{
	color:red;
}

.pointer{
	cursor:pointer;
}

.setting_flag{
	margin-left:10px;
}


/*SIMPLEPASSMETER*/

.simplePassMeter {
	border: 1px solid #aaa;
	background-color: #f3f3f3;
	color: #666;
	font-size: 0.8em;
	padding: 1px 5px 0 5px;
	margin: 0;
	width: 19em;
}

.meterFail { border: 1px solid #daa; background-color: #fdd; }
.meterWarn { border: 1px solid #fd6; background-color: #feb; }
.meterGood { border: 1px solid #ada; background-color: #dfd; }
.meterExcel { border: 1px solid #aad; background-color: #ddf; }

.simplePassMeterBar { background-color: #ddd; }
.meterFail .simplePassMeterProgress  { background-color: #f66; }
.meterWarn .simplePassMeterProgress  { background-color: #fd6; }
.meterGood .simplePassMeterProgress  { background-color: #ada; }
.meterExcel .simplePassMeterProgress { background-color: #88f; }

.simplePassMeter p { margin: 0; }
.simplePassMeterIcon { height: 16px; width: 16px; float: left; }
.meterFail .simplePassMeterIcon,
	.meterWarn .simplePassMeterIcon,
	.meterGood .simplePassMeterIcon,
.meterExcel .simplePassMeterIcon {
	background-image: url('../images/simplePassMeterSprite.png');
	background-repeat: no-repeat;
}
.meterExcel .simplePassMeterIcon { background-position: 0 0; }
.meterFail .simplePassMeterIcon { background-position: 0 -17px; }
.meterGood .simplePassMeterIcon { background-position: 0 -34px; }
.meterWarn .simplePassMeterIcon { background-position: 0 -51px; }

.simplePassMeterText { margin-left: 2px; }

#div_ga_url {
    text-align:center;
    margin:0 0 10px 0;
    font-size:9pt;
    display:none;
    padding:5px;
}

input.watermark {
	color: #999;
}

/* Allow Font Awesome Icons in lieu of jQuery UI and only apply when using a FA icon */
.ui-icon[class*=" icon-"] {
    /* Remove the jQuery UI Icon */
    background: none repeat scroll 0 0 transparent;
    /* Remove the jQuery UI Text Indent */
    text-indent: 0;
    /* Bump it up - jQuery UI is -8px */
    margin-top: -0.5em;
}

/* Allow use of icon-large to be properly aligned */
.ui-icon.icon-large {
    margin-top: -0.75em;
}

.ui-button-icon-only .ui-icon[class*=" icon-"] {
    /* Bump it - jQuery UI is -8px */
    margin-left: -7px;
}

.menu_150 {
    width:150px;
}

.menu_200 {
    width:200px;
}

.menu_250 {
    width:250px;
}

.no-icon { display:none !important;}

.ui-menu li {font-size:10pt !important;}


.mi-green {
	color: #388952;
}
.mi-yellow {
	color: #FC9300;
}
.mi-red {
	color: #CC0000;
}
.mi-black {
	color: #222222;
}
.mi-grey-1 {
	color: #9B9B9B;
}

.form_text {
    padding:2px;
    margin-bottom:5px;
}

.ui-button.redButton {
    background-color: red;
}
.ui-button.greenButton {
    background-color: green;
}

div.dataTables_processing { z-index: 1; }

.ui-color {background:#F59829 !important;}

.round-grey {
  padding:2px 6px 2px 6px;
  font-size:9pt;
  border: 1px #f3f3f3;
}

#main_menu .btn-default {
  width: 32px; height: 26px;
  font-size: 10px;
  padding: 2px 0 2px 0;
  margin: 0px;
  top: -5px;
  background: rgba(240,240,240,1);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(60%, rgba(246,246,246,1)), color-stop(100%, rgba(199,199,199,1)));
  background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(246,246,246,1) 60%, rgba(199,199,199,1) 100%);
  background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(236,236,236,1) 60%, rgba(199,199,199,1) 100%);
}

#main_menu > div > ul > li > i {
  font-size: 15px ! important;
}

#main_menu > div > ul  {
  border-radius: 4px;
  height: 26px;
}

.ui-button-text-only .ui-button-text {
  padding: 4px;
}
.ui-menu-item > i {
  font-size: 1.0em;
  line-height: .70em;
  vertical-align: -20%;
  padding: 2px 0 0 0 ;
}
.title .ui-button-text > i {
  width: 1.0em;
}

.quick_menu {
  border-radius: 4px;
}
.ui-menu  .ui-menu-item  {
  padding: 1px 3px 4px 3px ;
}

.fa-bars:before {
  display:block;
  content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAMAAABBwMRzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5T/wDltzBKAAAAGUlEQVR42mJgZEAGjAwE+agAkz+w5gEEGAAggABP5U/AbAAAAABJRU5ErkJggg==');
  margin: 1px 1px 0px 1px;
  width: 15px;
  height: 15px;
  }
