AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi
Options -ExecCGI

# Outside the webroot (DocumentRoot = public/).
# Defence-in-depth: deny access in case of server misconfiguration.
Options -Indexes -ExecCGI
Require all denied
